body {
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}
pre {
  font-size: 7em;
}
.tick line {
  stroke: #C0C0BB;
}
.tick text {
  fill: #635F5D;
}
.marks circle {
  fill: #137B80;
}
.marks path {
  fill: rgb(214, 212, 212);
  stroke: #137B80;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.axis-label {
  font-size: 2.5em;
  fill: #635F5D;
}